@import "@picocss/pico/scss/pico";

$font-stack: Helvetica, sans-serif;
$font-light-theme: #333333;

body {
  font: 100% $font-stack;
  margin: 0;
  padding: 0;
  color: $font-light-theme;
  min-height: 100vh;

  nav {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;

    .logo {
      margin: 0;
      font-weight: bold;
      font-size: medium;
      text-decoration: none;
      color: currentColor;
      &:hover {
        text-decoration: underline;
      }
    }

    .night-mode-btn {
      color: $font-light-theme;
      background-color: transparent;
      border: none;
      padding: var(--nav-link-spacing-vertical) var(--nav-link-spacing-horizontal);
      width: auto;
      margin-bottom: 0;

      svg {
        fill: $font-light-theme;
      }
    }
  }

  img{
    max-width: 100%;
    height: auto;
  }

  .article-wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    a {
      color: #14847E;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      width: 100%;
    }
  }

  .blog-single {
    color: $font-light-theme;
    border-style: solid;
    border-width: 1px;
    padding: 1rem;

    .title {
      font-weight: bold;
      font-size: 1.5rem;
    }

    p {
      margin: 0;
    }

    .description {
      margin-top: 1rem;
    }
  }

  p, ul {
    line-height: 1.5rem;
  }

  .link-btn {
    color: $font-light-theme;
    padding: 0.5rem;
    font-size: small;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
  }
}

blockquote{
  border-left: 4px solid currentColor;
  padding-left: 20px;
  margin-left: 0;
}

.flex{
  display: flex;
  gap: var(--block-spacing-horizontal);
}
